@font-face {
  font-family: 'iconfont';  /* project id 701002 */
  src: url('https://at.alicdn.com/t/font_701002_zf86paxzupqoajor.eot');
  src: url('https://at.alicdn.com/t/font_701002_zf86paxzupqoajor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_701002_zf86paxzupqoajor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_701002_zf86paxzupqoajor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_701002_zf86paxzupqoajor.svg#iconfont') format('svg');
}
body{
  padding: 0;
  margin: 0;
  font-family: 微软雅黑;
}
a{
  text-decoration: none;
}
.header{
  width: 100%;
  height: 140px;
}
.header_main{
  position: relative;
  width: 1180px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 0 40px;
}
.header_logo{
  float: left;
  padding-top: 32.5px;
}
.header_login{
  float: right;
  line-height: 140px;
}
.header_login span{
}
.header_login a{
  font-size: 16px;
  float: right;
  color: #605f5f;
  margin-left: 10px;
  cursor: pointer;
}
.header_login a:hover {
  color: #d1434a;
}
.carCount{
  position: absolute;
  top: 38px;
  right: 22px;
  width: 30px;
  height: 30px;
  background-color: #d1434a;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.header_login .carCount1{
  color: #F5F7FC;
  margin-left: 0;
  float: none;
}
.header_login .carCount1:hover{
  color: #F5F7FC;
}
.header_login .shoppingcar{
  font-family: iconfont;
  font-size: 24px;
}
.bread{
  width: 100%;
  height: 90px;
  background-color: #f0f0f0;
}
.bread_main{
  width: 1220px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.bread_nav{
  width: auto;
  height: 90px;
  line-height: 90px;
  color: #a1a1a1;
  font-size: 14px;
}
.bread_nav a{
  color: #a1a1a1;
}
.bread_nav a:hover{
  color: #d1434a;
}
.bread_nav .bread_current{
  color: #d1434a;
}
.main{
  width: 100%;
  height: auto;
  background-color: #F5F7FC;
}
.main_main{
  width: 1220px;
  height: auto;
  margin: 0 auto;
  padding: 120px 20px 100px 20px;
  border-bottom: 2px solid #e9e9e9;
}
.main_sort{
  width: 1220px;
  height: 110px;
  line-height: 110px;
  background-color: white;
}
.sort_content{
  padding-right: 40px;
  float: right;
}
.sort_content span,.sort_content a{
  float: right;
}
.sort_content span{
  color: #605f5f;
  cursor: pointer;
}
.sort_content span:hover{
  color: #ee7a23;
}
.sort_content a{
  color: #ee7a23;
  margin-left: 20px;
  margin-right: 40px;
}
.main_sort {
  font-family: iconfont;
  color: black;
}
.sort_jiantou{
  display: block;
  transition: all .3s;
}
.sort_jiantou_turn{
  transform: rotate(180deg);
}
.main_content{
  width: 100%;
  height: auto;
  padding-top: 60px;
  display: flex;
}
.content_left{

  width: 215px;
  padding-left: 40px;
}
.content_right{
  width: 1005px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.content_left .content_title{
  height: 40px;
  line-height: 40px;
  padding-bottom: 60px;
  font-weight: bold;
  color: #605f5f;
}
.filter{
  padding: 0;
}
.filter li{
  list-style: none;
  height: 52px;
  line-height: 52px;
  padding: 0 ;
  margin-bottom: 40px;
}
.filter li a{
  color: #605f5f;
  transition: padding-left 0.3s ease-out;
}
.filter li .filter_current,.filter a:hover{
  border-left: 3px solid #ee7a23;
  padding-left: 20px;
  color: #ee7a23;
}
.content_item{
  width: 23.80952%;
  height: 423px;
  background-color: white;
  padding: 20px;
  margin: 0 1.5873% 1.5873% 0;
  box-sizing: border-box;
  border: 2px solid #e9e9e9;
  transition: all 1s;
}
.content_item:nth-child(4n){
  margin-right: 0;
}
.item_img{
  width: 100%;
  padding-bottom: 40px;
}
.item_name{
  color: #605f5f;
  font-weight: bold;
}
.item_price{
  margin-top: 40px;
  font-size: 18px;
  color: #d1434a;
}
.item_buy{
  width: 100%;
  height: 40px;
  border: 2px solid #d1434a;
  text-align: center;
  line-height: 40px;
  color: #d1434a;
}
.item_buy:hover{
  background-color: rgba(209,67, 74,.6);
  color: white;
}
.content_item:hover{
  transform: translateY(-4px);
  cursor: pointer;
  box-shadow: 2px 2px 5px #ee7a23;
}
.footer{
  width: 100%;
  height: 200px;
  background-color: #F5F7FC;
}
.footer_main{
  width: 1188px;
  height: 100%;
  padding-left: 72px;
  margin: 0 auto;
}
.footer_box{
  width: 100%;
  height: 100%;
  color: #a1a1a1;
}
.footer_left{
  height: 100%;
  line-height: 200px;
  margin-left: 40px;
  float: left;
}
.footer_select{
  border-radius: 5px;
}
.footer_right{
  height: 100%;
  line-height: 200px;
  float: right;
}
.footer_right a{
  float: right;
  margin-right: 20px;
  color: #a1a1a1;
}
.footer_right p{
  float: right;
  margin-right: 20px;
  line-height: 168px;
}
